@import './utilities';

.install-dialog {
    width: 450px;
	height: 155px;
    padding: 25px;
    border-radius: 3px;
    background-color: #fff;
    color: #0C272C;
    position: relative;

    h1 {
		font-weight: bold;
		font-size: 18px;
		color: #0C272C;
		letter-spacing: 1px;
		margin-top: 25px;

		&:first-child {
			margin-top: 0;
		}
    }

    h2 {
		font-weight: normal;
		font-size: 18px;
		color: #0C272C;
		letter-spacing: 1px;
    }

    .close-button {
    	border: none;
    	background: transparent;
    	position: absolute;
    	right: 10px;
    	top: 10px;

    	svg * {
    		fill: #0C272C;
    	}
    }

    section.loading {
    	text-align: center;
		margin-top: 32px;

    	h1 {
    		margin-bottom: 0;
    	}
    }

    section.install {
    	@extend .clearfix;

    	img {
    		width: 105px;
    		height: 105px;
    		float: left;
    		margin-right: 20px;
			border-radius: 3px;
    	}

    	.info {
    		float: left;
			margin-top: 5px;
			width: 275px;
    	}

    	h1 {
    		margin: 0;
			overflow: hidden;
			text-overflow: ellipsis;
    		white-space: nowrap;
    	}

    	h2 {
			margin: 2px 0 15px 0;
			font-size: 11px;
    	}
    }

    a, .install-button {
		display: inline-block;
		background: transparent;
		border-radius: 3px;
		height: 40px;
		font-weight: 900;
		font-size: 12px;
		color: #002d80;
		letter-spacing: 0.5px;
		line-height: 40px;
		padding: 0 13px;
		border: 1px solid #002d80;
		transition: background 0.15s, color 0.15s;
		cursor: pointer;
		text-decoration: none;
		margin-right: auto;

		&.ttg {
			background: #002d80;
			color: #fff;

			&:hover {
				background: lighten(#002d80, 5%);
				border-color: lighten(#002d80, 5%);
			}
		}
		
		&:hover {
			background: #002d80;
			color: #fff;
		}
    }

    .install-button {
    	status-ring {
    		width: 20px;
    		height: 20px;
    		margin-left: 10px;
    		margin-top: 10px;
    		float: right;

    		svg {
    			width: 20px;
    			height: 20px;
    		}

    		svg * {
    			stroke: #fff;
    		}
    	}

    	&.installing {
    		background: #002d80;
			color: #fff;

			&, & * {
				cursor: default;
			}
    	}
    }

	.actions {
		display: flex;
		flex-direction: horizontal;
	}

    .install-local-button {
    	padding: 0;
		margin-right: 0;

		label {
			display: block;
			padding: 0 13px;
		}

    	input {
    		display: none;
    	}
    }

    .install-url {
    	position: relative;
		margin-bottom: 20px;
		margin-top: 3px;

		input {
			line-height: 40px;
			border-radius: 0;
			border: 0;
			width: 100%;
			display: block;
			padding: 0 10px;
			outline: none;
			border-bottom: 2px solid #002d80;
			font-size: 16px;
		}

		input, input::placeholder {
			letter-spacing: 1px;
		}

    	button {
    		position: absolute;
    		top: 8px;
    		right: 0;
    		width: 70px;
    		height: 25px;
			cursor: pointer;
			display: block;
			border-radius: 3px;
			background: #002d80;
			border: 0;
			transition: background 0.15s;
			font-weight: 900;
			font-size: 11px;
			color: #fff;
			letter-spacing: 0.5px;
			padding-top: 2px;

			&:disabled {
				cursor: default;
				opacity: 0.5;
			}

			&:hover:not([disabled]) {
				background: lighten(#002d80, 10%);
			}
    	}
    }
}